extends layout
block head
  script(type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js")
  script(type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js")
  script(type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js")
  script(type="text/javascript" charset="utf-8" src="/js/index.js")
block content
  h1= title
  p Welcome to #{title}
  script(id="editor" type="text/plain")
